<!DOCTYPE html>
<html>
  <head>
    <title>To Do List</title>
  </head>
  <body>
    <h1>Tasks</h1>

    {% if clients is not empty %}
      <p>Clients:</p>
      <ul>
        {% for client in clients %}
          <li>{{ client.getName : client.getEmail }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <form action='/clients' method='post'>
      <div>
        <label for='client_name'>Client Name:</label>
        <input id='client_name' name='client_name' type='text'>
      </div>
      <div>
        <label for='email'>Client Email</label>
        <input id='email' name='email' type='text'>
      </div>

      <button type="submit">Add Task</button>
    </form>

    <form action="/delete_clients" method="post">
      <button type="submit">Clear</button>
    </form>

    <p><a href='/'>Home</a></p>
  </body>
</html>
